body{
  /* width: 100%; */
  height: 100%;
  /* background-image: url("bg.png"); */
  background-repeat: no-repeat;
}
.original-login {
  color: #00000038;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-family: Poppins;
  font-size: 2.125rem;
  font-weight: 400;
    background-size: cover;
  }
  
  .login-box {
    width: 35%;
    z-index: 1;
    background-color: #cbeeecd6;
    border-radius: 48px;
    flex-direction: column;
    flex-basis: 61%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 180px;
    margin-left: 15%;
    padding-top: 106px;
    padding-bottom: 32px;
    padding-left: 49px;
    display: flex;
  }
  
  .flex-container {
    width: 45%;
    margin-left: 30%;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    margin-top: 20px;
    display: flex;
  }
  
  .img2 {
    width: 49px;
    margin-top: px;
    height: 53px;
    margin-right: 20px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-image: url("man.png");
  }
  
  .flex-container-1 {
    width: 45%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
    margin-left: 5%;
    display: flex;
  }
  
  .img3 {
    width: 49px;
    height: 52px;
    margin-right: 15px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-image: url("pwd.png");
  }
  
  .rectangle-3 {
    color: #000;
    width: 35%;
    background-color: #d5bee8;
    border: none;
    border-radius: 17px;
    flex-direction: row;
    flex-basis: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    padding-top: 2px;
    font-family: Poppins;
    font-size: 2.188rem;
    font-weight: 400;
    line-height: 53px;
    display: flex;
    cursor: pointer;
  }
  .rectangle-3:hover{
    color: aliceblue;
    background-color: #7718c5b9;
  }
  .login {
    margin-top: 1px;
  }
  
  .new-user-create-acco {
    color: #000000c9;
    margin-bottom: 26px;
    font-size: 1.625rem;
    line-height: 39px;
  }
  
  .new-user-create-acco{
    color: blueviolet;
  }
  a{
    color: rgba(22, 18, 18, 0.945);
    text-decoration: none;
  }
  a:hover{
    color: rgba(197, 26, 26, 0.932);
  }
