body{
    /* background-image: url("bg.png"); */
    background-repeat: no-repeat;
    background-size: 1920px 1000px;
  }
 ::-webkit-textfield-decoration-container{
  background-color: #cbeeecd6;
  color: #cbeeecd6;
 }
.create{
    width: 35%;
    z-index: 1;
    background-color: #cbeeecd6;
    border-radius: 48px;
    flex-direction: column;
    flex-basis: 61%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-left: 15%;
    padding-top: 96px;
    padding-bottom: 32px;
    padding-left: 49px;
    display: flex;
}
 
    .mail{
        width: 49px;
        height: 49px;
        margin-right: 20px;
        object-fit: cover;
        background-position: center;
        background-size: cover;
        background-image: url("man.png");
       
    }
    .input{
        height: 30px;
        margin-bottom: 15px;
    }
   .rr{
    margin-left: 45%;
   }
    .image-2 {
        width: 49px;
        margin-top: px;
        height: 49px;
        margin-right: 20px;
        object-fit: cover;
        background-position: center;
        background-size: cover;
      background-image: url("mail.png");
    }
    .image-3 {
      width: 49px;
      height: 49px;
      object-fit: cover;
      margin-right: 6%;
      margin-top: 6%;
      background-position: center;
      background-size: cover;
      margin-bottom: 20px;
      margin-left: 3px;
      background-image: url("pwd.png");
    }
    .image-4 {
        width: 49px;
        margin-top: px;
        height: 49px;
        margin-left: 5px;
        margin-right: 6%;
        object-fit: cover;
        background-position: center;
        background-size: cover;
      background-image: url("pwd.png");
    }
    .email{
        width: 45%;
        margin: 5% 5% 5% 5%;
        flex-direction: row;
        align-items: center;
        margin-bottom: 12px;
        display: flex;
    }
    .urname{
        width: 45%;
        margin: 5% 5% 5% 5%;
        flex-direction: row;
        align-items: center;
        margin-bottom: 12px;
        display: flex;
    }
    .pwd{
        width: 45%;
        margin: 3% 5% 5% 4%;
        flex-direction: row;
        align-items: center;
        margin-bottom: 12px;
        display: flex;
    }
    .cpwd{
        width: 45%;
        margin: 3% 5% 4% 3%;
        flex-direction: row;
        align-items: center;
        margin-bottom: 12px;
        display: flex;
    }
 
    .rectangle-27 {
      color: #fff;
      width: 40%;
      align-items: center;
      /* background-color: #00e1ff98; */
      border: none;
      border-radius: 41px;
      padding-bottom: 1px;
      padding-left: 3px;
      font-family: Inter;
      font-size: 2rem;
      font-weight: 500;
      line-height: 39px;
      display: flex;
      cursor: pointer;
    }
    .or {
      margin-bottom: 28px;
      margin-left: 35%;
      margin-right: 70%;
    }
    
    .flex-container-6 {
      width: 20%;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 7px;
      margin-bottom: 8px;
      margin-left: 490px;
      display: flex;
    }
    
    .image-19 {
      width: 55px;
      height: 55px;
      object-fit: cover;
      background-position: center;
      background-size: cover;
      margin-right: 1px;
      background-image: url("google.png");
    }
    
    .image-22 {
      width: 59px;
      height: 58px;
      object-fit: cover;
      background-position: center;
      background-size: cover;
      align-self: center;
      background-image: url("fb.png");
    }
    
    .image-24 {
      width: 59px;
      height: 60px;
      object-fit: cover;
      background-position: center;
      background-size: cover;
      background-image: url("twitter.png");
    }
    .box{
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
        align-self: flex-end;
        align-items: flex-end;
        margin-top: 4px;
        margin-left: 15%;
        margin-right: 10%;
        margin-bottom: 2%;
        font-size: 20px;
        font-weight: 300;
        line-height: 38px;
        display: flex;
    }
    .boxx{
        width: 30px;
        height: 20px;
        margin-left: 10%;
        margin-bottom: 2%;
        object-fit: cover;
    }
    Button{
      background-color: red;
    }
    .ar{
      align-items: center;
      text-align: center;
      padding: 1%;
      font-size: 20px;
      color: aliceblue;
      background-color: rgba(99, 189, 25, 0.76);
      border-radius: 8px;
      width: 500px;
      height: 40px;
    }
    .ar:hover{
      background-color: rgba(128, 219, 9, 0.623);
      color: whitesmoke;
    }
    ar:link{
      color: wheat;
    }